h1 {
    text-align: center;
    font-size: 4rem;
}

#calculator {
    margin: auto;
    margin-top: 120px;
    width: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#display {
    border: 2px solid black;
}

.keypad-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keypad-operators {
    display: flex;
    flex-direction: column;
}

.all-buttons {
    display: flex;
}