h1 {
    text-align: center;
    font-size: 4rem;
}

button {
    font-size: 3rem;
    color: white;
    justify-content: space-between;
    flex: 1;
    background-color: darkslategray;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

#calculator {
    margin: auto;
    margin-top: 120px;
    padding: 20px;
    width: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 10px;
    gap: 32px;
}

#display {
    border: 2px solid black;
    text-align: right;
    font-size: 4rem;
    width: 100%;
    min-height: 78px;
    display: flex;
    justify-content: space-between;
}

.keypad {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.clear-button {
    background-color: darkorange;
}

.equal-button {
    background-color: green;
}

.operator-selected {
    font-size: 3rem;
    margin-left: 10px;
    align-self: center;
}